/* banner */
.about-us-banner {
    width: 100%;
}

.about-us-banner-container {
    width: 100%;
    display: flex;
    height: 560px;

}

.main-banner-side {
    width: 100%;
    background-image: url('./imgs/banner-cd-player.png');
    background-size: cover;
    background-position: center center;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-content {
    color: white;
    font-family: 'Inter-Medium', sans-serif;
    line-height: 300%;
    font-weight: 500;
}

.about-us-content .hello {
    font-size: 36px;
}

.about-us-content .introduce {
    font-size: 26px;
}

.about-us-content .listen-somethings {
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .about-us-content {
        width: 80%;
    }

    .about-us-content .hello {
        font-size: 32px;
    }

    .about-us-content .introduce {
        font-size: 22px;
    }

    .about-us-content .listen-somethings {
        font-size: 16px;
        font-weight: 600;
    }


}

/* banner--End */
/* Factory-Story */
.factory-story {
    width: 100%;
    height: 100vh;
    min-height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(258.25deg, rgba(99, 77, 116, 1.00) 0%, rgba(30, 23, 36, 1.00) 100%);

}

.story-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}


.story-title {
    width: 45%;
    color: #ffffff;
    font-family: var(---font-family, 'Lemonada-Bold', sans-serif);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.story-title h2 {
    font-size: 32px;
    line-height: 150%;
    font-weight: bold;
    padding-right: 30px;
}

.story-title p {
    font-size: 16px;
    line-height: 200%;
    padding-right: 30px;
}

.red-album {
    width: 55%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    /* margin-left: 100px; */

}

.red-cd-cover {
    z-index: 1;
}

.red-cd-cover .cover-red {
    height: 280px;
    width: 280px;
    padding: 20px;
    background-color: rgba(173, 173, 173, 1);
}

#red-cd {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    /* transition: transform 1s, box-shadow 1s, filter 1s; */
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 32px;
    right: 40%;
    /* 图片高度的一半 */
    /* 使用自动外边距实现居中 */

}

.rotating {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes shadowEffect {

    0%,
    100% {
        box-shadow: 0 0 10px rgba(195, 193, 193, 0.5);
        filter: brightness(100%);
    }

    50% {
        box-shadow: 0 0 20px rgba(247, 247, 247, 0.8);
        filter: brightness(125%);
    }
}



@media screen and (max-width:1024px) {
    .story-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .story-title {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 0px;
    }

    .story-title h2 {
        font-size: 26px;
        font-weight: 600;
        padding-right: 0px;
        text-align: center;
        margin-top: 0px;
        position: relative;
    }

    /* .story-title h2::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 3px;
        background-color: rgb(67, 26, 67);
        border-radius: 5px;
        bottom: -3px;
    } */

    .story-title p {
        font-size: 16px;
        line-height: 200%;
        padding: 20px 0;
        margin-bottom: 30px;
    }

    .red-album {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    #red-cd {
        height: 260px;
        width: 260px;
        position: absolute;
        bottom: 100px;
        right: 300px;
    }


    .red-cd-cover {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 0px;

        /* right: 0px;
        left: 0; */
    }


    .red-cd-cover img {
        height: 250px;
        width: 250px;
        padding: 20px;
        background-color: rgba(173, 173, 173, 1);
    }

}

/* Factory-Story--End */
/* Brand-value */
.brand-value {
    width: 100%;
    height: 100vh;
    min-height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-89.88deg, rgba(49, 49, 50, 1.00) 0%, rgba(6, 6, 39, 1.00) 0.009999999747378752%, rgba(149, 149, 152, 1.00) 50%, rgba(21, 60, 97, 1.00) 100%);
}

.brand-value-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-album {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 30px;
    margin-left: 200px;
}

#green-cd {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    transition: transform 1s, box-shadow 1s, filter 1s;
    display: block;
    cursor: pointer;
}

.green-cd-cover {
    position: absolute;
    right: 150px;
}

.green-cd-cover img {
    height: 300px;
    width: 300px;
    padding: 30px;
    background-color: rgb(31, 17, 86);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.brand-value-title {
    width: 50%;
    color: #ffffff;
    font-family: var(---font-family, 'Lemonada-Bold', sans-serif);
    display: flex;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}

.brand-value-title h2 {
    font-size: 32px;
    line-height: 150%;
    font-weight: bold;
    padding-left: 30px;
}

.brand-value-title p {
    font-size: 16px;
    line-height: 200%;
    padding-top: 30px;
    padding-left: 30px;
}

.record {
    transition: transform 1s;
}

.rotating {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 531px) and (max-width: 1120px) {
    .brand-value-container {
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
    }

    .brand-value-title {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0px;
    }

    .brand-value-title h2 {
        font-size: 26px;
        font-weight: 600;
        text-align: center;
        padding: 0 0 30px 0;
    }

    .brand-value-title p {
        padding: 0 0 20px 0;

    }

    /* .story-title h2::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 3px;
        background-color: rgb(67, 26, 67);
        border-radius: 5px;
        bottom: -3px;
    } */


    .green-album {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        margin-right: 0px;
        margin: auto auto;
        padding: 30px 0;
    }

    #green-cd {
        height: 220px;
    }

    .green-cd-cover {
        position: absolute;
        left: 125px;
    }

    .green-cd-cover img {
        height: 220px;
        width: 220px;
        padding: 20px;
    }
}

@media screen and (max-width:530px) {

    #green-cd {
        height: 180px;
    }

    .green-cd-cover img {
        height: 180px;
        width: 180px;
        padding: 20px;
    }
}

/* Brand-value--End */
/* 感謝觀看 */
.to-be-developed {
    width: 100%;
}

.to-be-developed-container {
    width: 100%;
    display: flex;
    height: 80vh;
    min-height: 504px;
}

/* .developed-banner-left-side {
    width: 10%;
    background: linear-gradient(269.66deg, rgba(44, 33, 40, 1.00) 0%, rgba(146, 110, 133, 1.00) 100%);
} */

.developed-main-banner-side {
    width: 100%;
    background-image: url('./imgs/coming-soon.png');
    background-size: cover;
    background-position: center center;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.developed-content h2 {
    color: #ffffff;
    font-family: 'Inter-Medium', sans-serif;
    font-size: 24px;
    line-height: 300%;
    font-weight: 500;
}

@media screen and (max-width:768px) {
    .developed-content {
        width: 80%;
    }

    .developed-content h2 {
        font-size: 20px;
    }
}

/* 感謝觀看--End */