@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.header {
    width: 100%;
    height: 70px;
    border: 1px soild black;
    background-color: #3E3939;
}


.header-container {
    display: flex;
    /* width: 1152px; */
    width: 90%;
    height: 70px;
    margin: auto;
    justify-content: space-between;
}

.logo img {
    height: 70px;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-title ul {
    display: flex;
}

.header-title a:hover {

    color: rgba(219, 147, 239, 0.7);
}

.header-title a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

.log-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-button a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.log-in {
    background-color: #D66F6F;
    color: white;
    padding: 5px 20px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.sign-up {
    background-color: #D66F6F;
    color: white;
    padding: 5px 20px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.main-page-hb {
    display: none;
}

#mp-menu {
    display: none;
}

@media screen and (max-width: 1024px) {
    .header-container {
        width: 90%;
    }

    .header-title a {
        font-size: 15px;
        padding: 20px;
    }

    .log-button a {
        font-size: 15px;
    }

}

@media screen and (max-width: 978px) {
    .music-generate-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .header-container {
        width: 100%;
    }

    .header-title {
        display: none;
    }

    .log-button {
        display: none;
    }

    .main-page-hb {
        height: 70px;
        display: flex;
        align-items: center;
    }

    #mp-humberger {
        display: flex;
        align-items: center;
        background: transparent;
        text-decoration: none;
        border: none;
        color: white;
        padding-right: 15px;
        cursor: pointer;
    }

    #btnHam .fa-solid,
    .fa-bars {
        font-size: 26px;
    }

    /* #mp-menu {
        display: flex;
        justify-content: center;
        width: 100%;
        transition: right 1s;

    } */
    #mp-menu {
        display: flex;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.4s ease-out;
        width: 100%;
        position: absolute;
        top: 70px;
    }

    #mp-menu.active {
        max-height: 300px;
    }

    #mp-menu ul {
        width: 100%;
        background-color: rgb(62, 57, 57);
        z-index: 1;
        border-top: 1px solid black;
    }

    #mp-menu li {
        margin: auto;
        padding: 10px 0;
        text-align: center;
    }

    #mp-menu ul a {
        display: block;
        border-bottom: 1px solid white;
    }

    #mp-menu ul a:last-child {
        border-bottom: none;
    }

    #mp-menu a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 600;
    }

    #mp-menu a:hover {
        color: rgb(193, 82, 154);
    }
}