/* hiring-main-page */
.hiring-main-page {
    width: 100%;
    min-height: 560px;
    height: 100vh;
    /* background: linear-gradient(0.51deg, rgba(176, 86, 86, 1.00) 0%, rgba(32, 7, 52, 1.00) 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#hiring-plan-background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.hiring-main-page-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

/* .hiring-circle {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 100px;
    bottom: 20px;
}

.hiring-circle img {
    width: 100%;
} */

.hiring-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.slogan-chi h1 {
    color: #ffffff;
    font-family: 'Segoe UI';
    font-size: 60px;
    line-height: 150%;
    font-weight: 500;
    text-align: center;
}

.slogan-chi span {
    color: #ffffff;
    font-family: 'Segoe UI';
    font-size: 40px;
    line-height: 200%;
    font-weight: 500;
}

.slogan-en {
    padding: 0 20px;
    letter-spacing: 0.4em;
    position: relative;
}

.slogan-en .slogan-base {
    color: rgba(179, 179, 179, 0.69);
    font-family: 'Inter-Medium', sans-serif;
    font-size: 60px;
    line-height: 145%;
    font-weight: 500;
}

.slogan-en .slogan-overlay {

    background: linear-gradient(to left, #ffffff, #ffffff), linear-gradient(to left, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter-Medium', sans-serif;
    font-size: 60px;
    line-height: 145%;
    font-weight: 500;
    position: absolute;
    left: 19px;
    bottom: -1px;

}

/* .hiring-retangle {
    height: 80px;
    width: 80px;
    position: absolute;
    right: 80px;
    bottom: 50px;
}

.hiring-retangle img {
    width: 100%;
}

.hiring-triangle {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 200px;
    bottom: -120px;
}

.hiring-triangle img {
    width: 100%;
} */
@media screen and (max-width:768px) {
    .hiring-main-page-container {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

    }

    .slogan-chi h1 {
        font-size: 40px;
        line-height: 200%;
    }

    .slogan-chi span {
        display: inline-block;
        font-size: 24px;
        padding: 20px 0;
    }

    .slogan-en {
        position: relative;
    }

    .slogan-en .slogan-base {
        font-size: 36px;
    }

    .slogan-en .slogan-overlay {
        font-size: 36px;
        position: absolute;
        left: 19px;
        bottom: -1px;

    }
}

/* hiring-main-page--End */
/* 招聘條件 */
.job-description {
    width: 100%;
    /* height: 100vh; */
    min-height: 630px;
    background: url('./imgs/hiring-background.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-description-container {
    width: 80%;
    margin: auto;
}

.jd-title {
    width: 82%;
    color: #ffffff;
    font-family: 'Lemonada-Regular', sans-serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 400;
    margin: auto;
    padding-bottom: 30px;
}

.jd-detail {
    display: flex;
}

.jd-detail-pic {
    width: 50%;
    /* height: 370px;
    width: 370px; */
    /* padding: 0 20px 0 120px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.jd-detail-pic img {
    /* width: 65%; */
    width: 332px;

}

.jd-detail-content {
    color: #ffffff;
    font-family: 'Inter-Medium', sans-serif;
    padding: 40px 0 0 50px;

}

.jd-detail-content span {
    font-size: 20px;
    line-height: 300%;
    font-weight: 500;
}

.jd-detail-content ul {
    list-style-type: disc;
}

.jd-detail-content li {
    font-size: 18px;
    line-height: 200%;
    font-weight: 500;
}

@media screen and (max-width:768px) {
    .job-description-container {
        width: 80%;
        margin: auto;
    }

    .jd-title {
        padding-top: 50px;
        font-size: 20px;
    }

    .jd-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .jd-detail-pic {
        width: 70%;
    }

    .jd-detail-pic img {
        width: 100%;
    }

    .jd-detail-content {
        padding: 20px 0 50px 0px;
    }
}

/* 招聘條件--End */
/* 公司提供 */
.our-support {
    width: 100%;
    /* height: 100vh; */
    min-height: 630px;
}

@media screen and (min-width:769px) {
    .our-support-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .our-support-title {
        color: #ffffff;
        height: 20vh;
        min-height: 126px;
        width: 100%;
        font-family: 'Inter-Bold', sans-serif;
        font-size: 30px;
        line-height: 150%;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(242.13deg, rgba(176, 86, 86, 1.00) 0%, rgba(32, 7, 52, 1.00) 100%);
        letter-spacing: 2px;
    }

    .our-support-things {
        height: 80vh;
        min-height: 504px;
        width: 100%;
        display: flex;
        position: relative;
    }

    .good-salary {
        width: 35%;
        height: 80vh;
        min-height: 504px;
        /* object-fit: cover; */
        clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
        position: absolute;
        z-index: 1;
        background: url("./imgs/good-salary.jpg");
        background-repeat: no-repect;
        background-size: cover;
        background-position: center center;
    }

    .good-salary .good-salary-title {
        color: #ffffff;
        text-align: left;
        font-family: 'Inter-Bold', sans-serif;
        font-size: 24px;
        line-height: 150%;
        font-weight: 700;
        padding: 15px 20px;
    }

    .good-salary-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        min-height: 504px;
        clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
        position: absolute;
        top: 0;
        background: whitesmoke;
        z-index: 1;
        opacity: 0;

    }

    .good-salary-overlay .good-salary-content {
        color: black;
        font-family: 'Inter-Bold', sans-serif;
        font-size: 20px;
        line-height: 150%;
        font-weight: 700;
        margin: 0 60px 0 20px;
    }

    .good-salary-overlay:hover {
        opacity: 60%;
        transition: 0.3s;

    }


    .comfortable-environment {
        width: 50%;
        height: 80vh;
        min-height: 504px;
        object-fit: cover;
        /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
        position: absolute;
        left: 25%;
        z-index: 0;
        background: url("./imgs/comfortable-environment.jpg");
        background-repeat: no-repect;
        background-size: cover;
        background-position: center center;
    }

    .comfortable-environment .comfortable-environment-title {
        height: 98%;
        color: #ffffff;
        text-align: left;
        font-size: 24px;
        line-height: 150%;
        font-weight: 700;
        display: flex;
        padding-left: 50px;
        align-items: flex-end;
    }

    .comfortable-environment-overlay {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        min-height: 504px;
        position: absolute;
        /* left: 25%; */
        top: 0;
        background: whitesmoke;
        z-index: 1;
        opacity: 0;

    }

    .comfortable-environment-overlay .comfortable-environment-content {
        color: black;
        font-family: 'Inter-Bold', sans-serif;
        font-size: 20px;
        line-height: 150%;
        font-weight: 700;
        margin: 0 80px;
    }

    .comfortable-environment-overlay:hover {
        opacity: 60%;
        transition: 0.3s;
    }

    .learning-source {
        width: 35%;
        height: 80vh;
        min-height: 504px;
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
        position: absolute;
        right: 0;
        background: url("./imgs/learning-source.jpg");
        background-repeat: no-repect;
        background-size: cover;
        background-position: center center;
    }

    .learning-source .learning-source-title {
        height: 98%;
        color: #ffffff;
        text-align: left;
        font-family: 'Inter-Bold', sans-serif;
        font-size: 24px;
        line-height: 150%;
        font-weight: 700;
        display: flex;
        align-items: flex-end;
        padding-left: 40px;
    }

    .learning-source-overlay {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        min-height: 504px;
        position: absolute;
        /* left: 25%; */
        top: 0;
        background: whitesmoke;
        z-index: 1;
        opacity: 0;

    }

    .learning-source-overlay .learning-source-content {
        color: black;
        font-family: 'Inter-Bold', sans-serif;
        font-size: 20px;
        line-height: 150%;
        font-weight: 700;
        margin: 0 10px 0 50px;
    }

    .learning-source-overlay:hover {
        opacity: 60%;
        transition: 0.3s;
    }

}

@media screen and (max-width:768px) {
    .our-support-container {
        width: 100%;
        min-height: 630px;
        background: linear-gradient(242.13deg, rgba(176, 86, 86, 1.00) 0%, rgba(32, 7, 52, 1.00) 100%);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .our-support-title {
        color: #ffffff;
        width: 100%;
        font-family: 'Inter-Bold', sans-serif;
        font-size: 30px;
        line-height: 150%;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 2px;
        padding: 20px 0;
    }

    .our-support-things {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .good-salary {
        width: 100%;
        height: 200px;
        background: url("./imgs/good-salary.jpg");
        background-repeat: no-repect;
        background-size: cover;
        background-position: center center;
        margin: auto;
        border-radius: 5px;
        margin: 0 0 20px 0;
    }

    .good-salary-title {
        display: none;
    }

    .good-salary-overlay {
        width: 90%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .good-salary-content {
        padding: 5px 10px;
        color: white;
        font-family: 'Inter-Bold', sans-serif;
        font-size: 18px;
        line-height: 150%;
        font-weight: 600;
        text-align: center;
        background-color: rgba(74, 68, 68, 0.5);
    }


    .comfortable-environment {
        width: 100%;
        height: 200px;
        background: url("./imgs/comfortable-environment.jpg");
        background-repeat: no-repect;
        background-size: cover;
        background-position: center center;
        margin: auto;
        border-radius: 5px;
        margin: 20px 0;
    }

    .comfortable-environment-title {
        display: none;
    }

    .comfortable-environment-overlay {
        width: 90%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .comfortable-environment-content {
        padding: 5px 10px;
        color: white;
        font-family: 'Inter-Bold', sans-serif;
        font-size: 18px;
        line-height: 150%;
        font-weight: 600;
        text-align: center;
        background-color: rgba(74, 68, 68, 0.5);
    }

    .learning-source {
        width: 100%;
        height: 200px;
        background: url("./imgs/learning-source.jpg");
        background-repeat: no-repect;
        background-size: cover;
        background-position: center center;
        margin: auto;
        border-radius: 5px;
        margin: 20px 0 40px 0;
    }

    .learning-source-title {
        display: none;
    }

    .learning-source-overlay {
        width: 90%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .learning-source-content {
        padding: 5px 10px;
        color: white;
        font-family: 'Inter-Bold', sans-serif;
        font-size: 18px;
        line-height: 150%;
        font-weight: 600;
        text-align: center;
        background-color: rgba(74, 68, 68, 0.5);
    }

}

/* 我們提供--End */
/* 應聘表單 */
.apply-table {
    width: 100%;
    min-height: 630px;
    background: url(./imgs/apply-background.png);
    background-size: cover;
    background-position: center center;

}

.apply-table-container {
    width: 80%;
    margin: auto;
    padding: 30px 0;
}

.apply-information {
    margin: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;

}

form {
    margin: auto;
    width: 100%;
    max-width: 650px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: center;
    /* Ensure label and input align properly */
    align-items: center;
    margin-bottom: 30px;
}

.form-group label {
    margin-right: 20px;
    /* Provides a small gap between label and input */
    flex-basis: 30%;
    /* Optionally adjust the width of the label */
    text-align: left;
    /* Align the text right so it lines up near the input */
    color: #ffffff;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 18px;
    line-height: 150%;
    font-weight: 700;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select {
    flex-grow: 1;
    height: 20px;
    /* Allows input to fill up the remaining space */
}

legend {
    color: #ffffff;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 18px;
    line-height: 150%;
    font-weight: 700;
    text-align: left;
    margin-right: 10px;
}

.music-style-check {
    display: flex;
}

.checkbox-group {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.checkbox-group label {
    color: #ffffff;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 0 10px 0 10px;

}

.apply-content {
    color: #ffffff;
    text-align: center;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 22px;
    line-height: 150%;
    font-weight: 700;
    padding: 30px 0;
}

.submit-aquirement {
    width: 100%;
    margin: auto;
    color: #ffffff;
    text-align: left;
    font-family: '-', sans-serif;
    font-size: 18px;
    line-height: 150%;
    padding: 30px 0px;
}

.submit-aquirement .submit {
    font-weight: 700;
}

.submit-aquirement .email-name {
    font-weight: 700;
}

.submit-button {
    background: rgba(113, 104, 104, 0.51);
    border-radius: 20px;
    width: 130px;
    height: 48px;
    margin: auto;
    color: #ffffff;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
    filter: hue-rotate(110deg);
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.submit-button:hover {
    background: #2C0C17;
    color: white;
    box-shadow: 0 0 5px rgba(113, 104, 104, 0.51),
        0 0 25px rgba(113, 104, 104, 0.51),
        0 0 50px rgba(113, 104, 104, 0.51),
        0 0 200px rgba(113, 104, 104, 0.51);
}

@media screen and (max-width:768px) {
    .form-group label {
        margin-right: 10px;
        font-size: 16px;
    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group select {
        height: 16px;
        /* Allows input to fill up the remaining space */
    }

    .music-style-check {
        display: flex;
        flex-direction: column;
    }

    .music-style-check>legend {
        font-size: 16px;
        width: 100%;
        /* Ensures legend takes up full width */
    }

    .music-style-check>.checkbox-group {
        display: flex;
        padding: 5px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
    }


    .apply-content {
        font-size: 20px;
        text-align: left;
    }


    .checkbox-group label {
        font-size: 14px;
    }

    .check-box {
        display: flex;
        margin: 8px;
    }

    input[type="checkbox"] {
        margin: 0 10px 0 10px;
        display: flex;
        align-items: center;
    }

    .submit-aquirement {
        width: 100%;
        font-size: 17px;
        text-align: left;
        margin: auto;
    }
}

/* 應聘表單--End */