/* .html,
body {
    height: 100%;
} */

body {
    background: var(--20, linear-gradient(257.85deg, rgba(41, 36, 39, 1.00) 0%, rgba(81, 40, 67, 1.00) 39.166656136512756%, rgba(95, 43, 80, 1.00) 57.666659355163574%, rgba(32, 7, 52, 1.00) 100%));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.all-container {
    /* height: 100%; */
    width: 80%;
    margin: auto;
    display: flex;
}

@media screen and (max-width:768px) {
    .all-container {
        width: 90%;
        margin: auto;
        /* outline: 2px solid red; */
        display: flex;
        justify-content: center;
    }
}

/* 側邊欄 */
.side-menu {
    height: 100%;
    width: 20%;
}

.side-menu-container {
    height: 100%;
    /* outline: 2px solid red; */
}

.side-menu-bar {
    display: flex;
    flex-direction: column;
}

.side-menu-bar nav {
    margin: auto;
}

.side-menu-bar .fa-solid,
.side-menu-bar .fa-house {
    position: absolute;
    left: 5px;
    bottom: 46px;
}

.side-menu-bar a {
    display: block;
    color: #ffffff;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    text-decoration: none;
    padding: 20px 8px;


}

.side-menu-bar a:nth-child(1) {
    padding:
        60px 0 40px 0;
    text-align: center;
    position: relative;
}

.side-menu-bar a:nth-child(1)::after {
    content: '';
    position: absolute;
    border-top: 2px solid #ffffff;
    left: 0;
    right: 0;
    bottom: 10px;
}



.side-menu-bar a:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.side-menu-bar a:nth-child(3)::after {
    content: '';
    position: absolute;
    border-top: 2px solid #ffffff;
    left: 0;
    right: 0;
    bottom: -10px;
}

.side-menu-bar span {
    color: #000000;
    font-family: 'Inter-Medium', sans-serif;
    font-weight: 500;
    background: #19fbc5;
    border-radius: 15px;
    font-size: 12px;
    padding: 0 4px;
}

.side-menu-bar a.active {
    font-weight: bold;
    border-left: 2px solid #7C19FB;
    padding-left: 5px;
}

.side-menu-bar a:not(:first-child):hover {
    font-weight: bold;
    border-left: 2px solid #7C19FB;
    padding-left: 5px;
    /* height: 10px; */
}



@media screen and (max-width:768px) {
    .side-menu {
        display: none;
    }
}



/* 側邊欄--End */
/* music-generate-section */
.music-generate-section {
    width: 80%;
}

.generate-song-sec {
    margin: auto;

}

.generate-song-title {
    margin: auto;
}

.generate-song-title h2 {
    padding-top: 50px;
    color: #f0f0f0;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 26px;
    line-height: 150%;
    font-weight: 700;
    text-align: center;
    position: relative;
}

.generate-song-title h2::after {
    content: " ";
    height: 3px;
    width: 90px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    background: #7c19fb;
    border-radius: 5px;

}

.song-style-tag span {
    padding: 5px 20px;
    /* border: 1px solid white; */
    border-radius: 20px;
    font-size: 14px;
    margin: 10px;
    color: #000000;
    background-color: #ffffff;
    font-weight: 700;
    margin-left: 30px;
}


.music-cassette-list {
    display: flex;
    overflow-x: auto;

}

.music-cassette-list::-webkit-scrollbar {
    height: 10px;
    background-color: transparent;

}

.music-cassette-list::-webkit-scrollbar-thumb {
    background-color: rgba(141, 137, 143, 0.5);
    border-radius: 4px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

.music-cassette-list::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 4px;
    border-bottom: rgb(99, 93, 93, 0.7) 1px solid;
}

.music-cassette-list .cassette {
    padding: 40px;
    text-align: center;
    cursor: pointer;
}

.music-cassette-list .cassette .cassette-pic {
    width: 200px;
    /* width: 100%; */
}

.cassette .track-setting {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.track-setting .favorite {
    width: 25px;
    opacity: .7;

}

.music-cassette-list .cassette span {
    color: #f0f0f0;
    text-align: center;
    font-family: 'Inter-Medium', sans-serif;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
}

@media screen and (max-width:768px) {
    .generate-song-title h2 {
        font-size: 22px;
    }

    .music-cassette-list {
        display: flex;
        overflow-x: auto;
    }

    .music-cassette-list .cassette {
        padding: 40px 30px;
        text-align: center;
        cursor: pointer;
    }

    .music-cassette-list .cassette .cassette-pic {
        width: 160px;
        /* width: 100%; */
    }

    .track-setting .favorite {
        width: 22px;
        opacity: .7;

    }

    .music-cassette-list .cassette span {
        color: #f0f0f0;
        text-align: center;
        font-family: 'Inter-Medium', sans-serif;
        font-size: 16px;
        line-height: 150%;
        font-weight: 500;
    }
}

/* music-generate-section--End */
/* music-reccomand-section */

.recommand-song-sec {
    margin: auto 0 80px 0;

}

.recommand-song-title {
    margin: auto;
}

.recommand-song-title h2 {
    padding-top: 50px;
    color: #f0f0f0;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 26px;
    line-height: 150%;
    font-weight: 700;
    text-align: center;
    position: relative;
}

.recommand-song-title h2::after {
    content: " ";
    height: 3px;
    width: 90px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    background: #7c19fb;
    border-radius: 5px;

}

.music-recommand-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
    padding: 50px 20px;
    overflow-y: auto;
}

.music-recommand-list .recommand-album {
    text-align: center;
}

.recommand-album .recommand-album-pic {
    width: 120px;
}

.recommand-album .recommand-album-setting {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.recommand-album-setting .favorite {
    width: 25px;
    opacity: .7;

}

.recommand-album-setting span {
    color: #f0f0f0;
    text-align: center;
    font-family: 'Inter-Medium', sans-serif;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
}

@media screen and (max-width:768px) {
    .recommand-song-title h2 {
        font-size: 22px;
    }

    .music-recommand-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 40px;
        padding: 40px 20px;
        overflow-y: auto;
    }


    .recommand-album .recommand-album-pic {
        width: 100px;
    }

    .recommand-album-setting .favorite {
        width: 22px;
        opacity: .7;
    }

    .recommand-album-setting span {
        font-size: 16px;
    }
}

/* music-reccomand-section--End */

/* 音樂播放 */
.music-player {
    height: 100px;
    width: 100%;
    background: rgba(64, 78, 100);
    border: 1px solid #000000;
    opacity: .9;
    position: fixed;
    bottom: 0;
}

.music-player-container {
    width: 90%;
    height: 100%;
    display: flex;
    margin: auto;

}

.player-sec {
    width: 60%;
    margin: auto;
}

.music-player button {
    border: none;
    background-color: transparent;
}

.song-details {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-details img {
    height: 80%;
    max-width: 135px;
}

.song-details #song-name {
    color: #ffffff;
    font-family: 'Inter-Medium', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px;
}


.player-options {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 0 10px;
    /* margin: 1.25em 0 0.6em 0; */
}


#play,
#pause {
    height: 45px;
    width: 45px;
    font-size: 20px;
    background-color: rgba(217, 217, 217, 1);
    color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    border: none;
    line-height: 45px;
    cursor: pointer;
}

#prev,
#next {
    color: rgba(217, 217, 217, 1);
    font-size: 20px;
    margin: 0 20px;
    cursor: pointer;
}


#shuffle,
#repeat {
    color: rgba(217, 217, 217, 1);
    font-size: 16px;
    cursor: pointer;
}

.hide {
    display: none;
}

#progress-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #eeeeee;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    cursor: pointer;
}


#current-progress {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 100%;
    width: 0%;
    background-color: #7C19FB;
    border-radius: 10px;
    cursor: pointer;
}

.time-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    /* font-family: "Roboto Mono", monospace; */
}

.song-download {
    margin: auto;
}

#download {
    color: rgba(217, 217, 217, 1);
    font-size: 20px;
    cursor: pointer;
}

button.active i {
    color: #7C19FB;
}

@media screen and (max-width:768px) {
    .music-player-container {
        width: 95%;

    }

    .song-details {
        width: 25%;

    }

    .song-details img {
        height: 50%;
    }

    .song-details #song-name {
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #play,
    #pause {
        height: 35px;
        width: 35px;
        font-size: 15.55px;
        line-height: 35px;

    }

    #prev,
    #next {
        font-size: 16px;
        margin: 0 8px;
    }

    #shuffle,
    #repeat {
        font-size: 12px;
    }

    .time-container {
        font-size: 14px;
    }

    .fa-solid,
    .fa-download {
        font-size: 16px;
    }
}

/* 音樂播放--End */