/* Product-Solution */
.product-solution {
    width: 100%;
    min-height: 630px;
    background-image: url(./imgs/product-solution-background.png);
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.product-solution-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.solution-content h2 {
    color: #ffffff;
    font-family: var(---font-family, 'Lemonada-Bold', sans-serif);
    font-size: 32px;
    line-height: 150%;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 30px 0;
    text-align: center;
}

.solution-content p {
    color: #ffffff;
    text-align: left;
    font-family: 'Inter-Medium', sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    padding-bottom: 30px;
    padding-left: 90px;
}

.solution-card-list {
    display: flex;
}

.card {
    width: 250px;
    height: 360px;
    background-color: rgb(43, 43, 43, 0.8);
    color: #ffffff;
    border: 1px solid #eceff133;
    border-radius: 15px;
    margin: auto;
}

.card:hover {
    --lightness: 80%;
    background: #ffffff80;
    color: #000;
    outline: 1px solid rgb(255, 255, 255);
    box-shadow: inset 0 0 80px whitesmoke, inset 20px 0 80px rgba(128, 20, 128, 0.747),
        inset -20px 0 80px rgb(72, 57, 138), inset 20px 0 300px rgb(93, 18, 93), inset -20px 0 300px rgb(0, 26, 255),
        0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
    transition: all ease-in-out 0.3s;
}

.card:nth-child(2) {
    width: 300px;
    height: 400px;
}


.card:nth-child(2) h2>span {
    font-size: 18px;
    font-weight: 700;

}

.card h2 {
    text-align: center;
    padding: 20px 0;
    font-family: 'Inter-Medium', sans-serif;
    font-size: 22px;
    line-height: 150%;
    font-weight: 500;
    position: relative;
}

.card span {
    text-align: center;
    font-family: 'Inter-Medium', sans-serif;
    font-size: 26px;
    line-height: 150%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.card ul {
    list-style-type: disc;
    padding-left: 30px;
    padding-top: 10px;
}

.card li {
    font-family: 'Inter-Medium', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

.card>*+* {
    margin-top: var(--flow-space, 8px);
}

.card a {
    display: block;
    /* align-self: end; */
    margin: 30px 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    outline: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}

.card:hover a {
    outline: none;
    background-color: #0d0d0d;
}

.support {
    padding: 20px 0 30px 75px;
}

.support p {
    color: #ffffff;
    font-family: 'Inter-Medium', sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
}

@media screen and (max-width:950px) {

    .solution-card-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 70%;
        /* height: auto; */
        margin: 20px 0;
    }

    .card:nth-child(2) {
        width: 80%;
    }

    .solution-content p {
        padding-left: 0px;
    }

    .support {
        padding: 20px 0 30px 75px;
    }

}

/* Product-Solution--End */