@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.register-page {
    /* height: 100vh; */
    min-height: 630px;
    background: url('./imgs/frontpage-banner.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
}

.register-container {
    height: 85%;
    min-height: 560px;
    padding: 0 30px;
    display: flex;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(49, 49, 50, 0.6);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

.register-input {
    height: 80%;
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-choose {
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
}

.register-choose a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-family: 'Inter-Regular', sans-serif;
    font-weight: 400;
}

.register-choose a:last-child {
    position: relative;
}

.register-choose a:last-child::before {
    content: "";
    height: 2px;
    width: 50px;
    background: rgba(234, 80, 228, 1);
    position: absolute;
    bottom: -8px;
    left: 9px;
    border-radius: 5px;

}

.register-choose span {
    color: #ffffff;
    font-size: 20px;
}

.register-input-section {
    /* padding: 10px 0; */
}

.user-info-title {
    color: white;
    font-size: 18px;
    font-family: 'Inter-Regular', sans-serif;
    padding-bottom: 15px;
}

.user-info-title .memo {
    font-size: 12px;
}

.user-name {
    padding: 10px 0;
}

.register-input-section input {
    width: 300px;
    height: 28px;
    border-radius: 10px;
    border: none;
}

.user-email {
    padding: 10px 0;
}

.user-setting-password {
    padding: 10px 0;
}

.user-comfirm-password {
    padding: 10px 0;
}

.sign-button {
    padding: 30px 0;
}

.sign-button a {
    margin-top: 30px;
    padding: 10px 50px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 15px;
    background-color: rgba(113, 104, 104, 0.51);
    filter: hue-rotate(110deg);
}

.sign-button a:hover {
    background: #2C0C17;
    color: white;
    box-shadow: 0 0 5px rgba(113, 104, 104, 0.51),
        0 0 25px rgba(113, 104, 104, 0.51),
        0 0 50px rgba(113, 104, 104, 0.51),
        0 0 200px rgba(113, 104, 104, 0.51);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}